<div class="source-link-wrap"><a id="source-link" href="#">View Source</a></div>
        <pre id="source-code">
var results = client.Search&lt;Restaurant&gt;()
    .Filter(x => x.Coordinates.Within(points))
    .Select(x => new SearchHit
    {
        Title = x.Name,
        Url = x.Website ?? x.WikipediaUrl,
        Location = new List&lt;string&gt; { x.StreetAddress, x.City, x.Country }.Concatenate(", "),
        MichelinRating = x.MichelinRating ?? 0
    })
    .GetResult();
        </pre>
<script>
    $("#source-link").click(function () {
        $("#source-code").slideToggle();
        $("#source-link").toggleClass("open");
    });
</script>