@model IEnumerable<TrufflerSample.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            WikipediaUrl
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WikipediaUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { wikiurl = Server.UrlEncode(item.WikipediaUrl) })
        </td>
    </tr>
}

</table>
