<div class="source-link-wrap"><a id="source-link" href="#">View Source</a></div>
<pre id="source-code">
var query = client.Search&lt;Restaurant&gt;()
    .For(q)
    .TermsFacetFor(x => x.Cuisine)
    .TermsFacetFor(x => x.Country)
    .HistogramFacetFor(x => x.MichelinRating, 1);

//Apply filters added by facet links
if (!string.IsNullOrWhiteSpace(cuisine))
{
    query = query.Filter(x => x.Cuisine.MatchCaseInsensitive(cuisine));
}

if (!string.IsNullOrWhiteSpace(country))
{
    query = query.Filter(x => x.Country.MatchCaseInsensitive(country));
}

if (rating.HasValue)
{
    query = query.Filter(x => x.MichelinRating.Match(rating.Value));
}

var results = query.Select(x => new SearchHit
    {
        Title = !string.IsNullOrEmpty(x.Name.AsHighlighted()) ? x.Name.AsHighlighted() : x.Name,
        Url = x.Website ?? x.WikipediaUrl,
        Location = new List&lt;string&gt; { x.StreetAddress, x.City, x.Country }.Concatenate(", "),
        MichelinRating = x.MichelinRating ?? 0
    })
    .GetResult();
</pre>
<script>
    $("#source-link").click(function () {
        $("#source-code").slideToggle();
        $("#source-link").toggleClass("open");
    });
</script>